.techs {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 70px 18px;
}

.techs__title-container {
    border-bottom: 1px solid #000;
}

.techs__title {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.72px;
    margin: 0 0 28px;
    padding: 0;
}

.techs__paragraph-title {
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.2px;
    margin: 60px 0 24px;
    padding: 0;
    text-align: center;
}

.techs__paragraph {
    color: #FFF;
    text-align: center;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.44px;
    padding: 0;
    margin: 0;
}

.techs__table {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 84px);
    grid-auto-rows: 57px;
    justify-content: center;
    gap: 10px;

}

.techs__table-cell {
    border-radius: 10px;
    background: #303030;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.48px;
}

@media screen and (min-width: 768px) {
    .techs {
        padding: 90px 50px;
        background-color: #272727;
    }

    .techs__title {
        font-size: 22px;
        letter-spacing: -0.88px;
        margin: 0 0 23px;
    }

    .techs__paragraph-title {
        font-size: 50px;
        letter-spacing: -2px;
        margin: 80px 0 22px;
    }

    .techs__paragraph {
        width: 460px;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: -0.48px;
        margin: auto;
    }

    .techs__table {
        margin-top: 83px;
        display: grid;
        grid-template-columns: repeat(7, 84px);
        grid-auto-rows: 57px;
        justify-content: center;
        gap: 10px;

    }

}

@media screen and (min-width: 1280px) {}