.promo {
    max-width: 320px;
    min-height: 630px;
    display: flex;
    background-color: #073042;
    background-image: url(../../images/landing-logo.svg);
    background-repeat: no-repeat;
    background-position: bottom 40px center;

}

.promo__title {
    color: #FFF;
    text-align: center;
    font-size: 31px;
    font-style: normal;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: -1.24px;
    margin: 0 0 330px;
    padding: 0;
    align-self: flex-end;
}