.movie-card {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    background: #222;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
}

.movie-card__info {
    margin: 14px 0;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 14px;
    box-sizing: border-box;
}

.movie-card__title {
    margin: 0;
    padding: 0;
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
}

.movie-card__duration {
    margin: 0;
    padding: 0;
    color: #8B8B8B;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.movie-card__trailer-link {
    max-height: 168px;
    max-width: 300px;
}

.movie-card__image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.movie-card__save-button {
    width: 100px;
    height: 29px;
    background-color: #313131;
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 11px;
    border: none;
    border-radius: 30px;
    margin: 14px auto;
    cursor: pointer;
}

.movie-card__save-button_type_inactive::after {
    content: 'Сохранить';
}

.movie-card__save-button_type_active {
    background-color: #EE3465;
    background-image: url(../../images/icon__saved.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.movie-card__save-button_type_delete {
    background-image: url(../../images/icon__delete.svg);
    background-repeat: no-repeat;
    background-position: center center;

}


@media screen and (min-width: 768px) {
    .movie-card__title {
        font-size: 15px;
        margin: 18px 0;
    }

    .movie-card__duration {
        font-size: 13px;
        margin: 18px 0;
    }

    .movie-card__save-button {
        margin: 18px auto;
    }

    .movie-card__info {
        padding: 0 18px;
        margin: 0;
    }

    .movie-card__trailer-link {
        max-height: 190px;
        max-width: 342px;
    }
}

@media screen and (min-width: 1280px) {
    .movie-card__trailer-link {
        max-height: 200px;
        max-width: 300px;
    }
}